$breackpoint-tablet: 768px;
$breackpoint-desktop: 1280px;

.CartGroup{

    .CartCard{
        width: 80%;
        margin: auto;
    }
    img{
        width: 10rem;
        height: 10rem;
    }
    .oldPrice{
        text-decoration: line-through;
        text-decoration-thickness: 2px;
    }
}
