$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$background: linear-gradient(
  135deg,
  rgba(211, 223, 232, 0.5) 30%,
  rgba(169, 184, 197, 0.5) 38%,
  rgba(168, 182, 193, 0.6) 41%,
  rgba(168, 182, 193, 0.6) 50%,
  rgba(168, 182, 193, 0.6) 50%,
  rgba(169, 184, 197, 0.6) 51%,
  rgba(211, 223, 232, 0.6) 57%,
  rgba(211, 223, 232, 0.6) 80%,
  rgba(211, 223, 232, 0.6) 80%
);
.LazyColor {
  background: $background;
  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 2s ease infinite reverse;
  -moz-animation: AnimationName 2s ease infinite reverse;
  animation: AnimationName 2s ease infinite reverse;
}

.lazyCartCard {
  width: 20rem;
  margin: 2rem auto;
  margin-bottom: 3rem;
  padding: 1rem;
  box-shadow: -10px 11px 23px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;

  .ImageandName {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .cartreloadImage {
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 1rem;
  }
  .cartlazyName {
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.5rem;
  }

  .cartlazyremove, .cartlazyPrice{
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
  }

  .cartlazyPrice{
     margin-bottom: 1rem;
  }

  .lazyQuantity{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  100% {
    background-position: 100% 9%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .cartreload {
    animation: App-logo-spin infinite 4s linear;
    width: fit-content;
    height: fit-content;
  }
}
@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: $breakpoint-tablet) {
  //    .reload{
  //     width: 16rem;
  //     height: 27rem;
  //    }
  //    .reloadImage{
  //     width: 16rem;
  //     height: 16rem;
  //    }
  //    .lazyName{
  //     width: 14rem;
  //    }

  //    .lazyCountGroup{
  //     width: 14rem;
  //    }
}
