$breakpoint-tablet: 768px;
$breakpoint-desktop: 1240px;

.FooterContainer {
  text-align: center;
 background-color: #000;
 color: #fff;
  .logo {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  ul {
    width: 7rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    margin-bottom: 2rem;

  }
}

@media (min-width: $breakpoint-tablet) {
  .FooterContainer {
    
    display: flex;
    justify-content: space-around;
    .logoContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }
}
