$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

.Container{
    background-color: #fff;
    margin: 4.5rem 1rem 2rem 1rem;
    .imgGroup{
        display: flex;
        justify-content: center;
    }
    .img{
        width:100%; 
    }
    .headerText{
        padding: 2rem;
        font-size: 1.5rem;
    }
}

@media (min-width: $breakpoint-tablet){
    .Container{
        display: flex;
        justify-content: space-between;
        height: 30rem;
        margin: 5.5rem 2rem 5rem 2rem;
        .imgGroup{
            width: 50%;
        }
        .img{
            width: 100%;
        }
        .headerText{
            width: 50%;
            padding: 7rem 0 0 4rem;
            font-size: 2rem;
        }
    }
    
}

@media (min-width: $breakpoint-desktop){
    .Container{
        height: 40rem;
        margin: 6rem 3rem 3rem 3rem;
        .headerText{
          padding: 5rem 0 0 7rem;
          font-size: 2.5rem;
        }
    }
}