$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

.CartFooterContainer {
    position: sticky;
    width: 100%;
    bottom: 0;
  text-align: center;
  background-color: #000;
  color: #fff;
  .logo {
    padding-top: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  ul {
    width: 7rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    margin-bottom: 2rem;
  }

  p{
    padding-bottom: 1rem;
    margin: auto;
  }

  p:hover{
    text-decoration: underline;
  }
}

@media (min-width: $breakpoint-tablet) {
  .CartFooterContainer {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
    .logoContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .logo{
      padding-top: 0;
    }
  }
}
